*{padding: 0; margin: 0;}
body,input{font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
a,label, :focus {outline: 0 none;}
a,img {border: 0 none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
em,i{font-style: normal;}
ul,li,ol,dl{list-style: none;}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,label, :focus{outline:0 none;}
.clearfix:after{display:block;content:"\20";height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearfix{*zoom:1;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a{background-color:transparent;}
}
html,body{ font-size: 14px; color: #333;}
html{height: 100%;}
body{height: 100%;}
.tl-c{text-align: center;}
.tl-r{text-align: right;}
.td-u{text-decoration: underline;}/* 针对有下划线的链接 */
.td-u:hover{color:#ff7e00;}
.link-color{color: #333;}
.mart-10{margin-top: 10px;}
.lh-input{line-height: 40px;}/* 与输入框对齐 */
.hide{display: none!important;}
.fl-l{float: left;}
.fl-r{float: right;}
.vt-a{*vertical-align: middle;}
.error-tip{color: #ff7e00;}
.pointer{cursor: pointer;}
.pos-r{position: relative;}
.gray-bg{background:#222; opacity:0.9; filter:alpha(opacity=90); position:absolute; top:0; left:0; *zoom:1; width:100%; height:100%; min-height:740px;}

/* 全局返回 */
.return-area{ position: absolute; top:0; left: 0; width: 100%; z-index: 10;}
.return-area a{color: #333;}
.ra-con{display: inline-block; font-size: 16px;}
.return-area{height: 50px; line-height: 50px; background: #fff; border-bottom: 1px solid #ccc; overflow: hidden; font-weight: bold;}
.ra-ico {
float: left;
display: inline-block;
margin: 0 10px 0 0;
width: 40px;
height: 50px;
vertical-align: middle;
border-right: 1px solid #ccc;
background: url(img/wap-return-home.png) center center no-repeat;
background-size: 12px 12px;}
.wap-func-more-ico{width:12px; height: 16px; position: absolute; top: 14px; right: 18px; background:url(img/wap-func-more.png) 0 0 no-repeat; background-size: 12px 16px;}